* {
	box-sizing: border-box;
}
body {
	height: 500px;
}
.container {
	overflow: hidden;
	height: 100%;
}
.hidden {
	display: none;
}
.accordeon {
	padding: 0;
	border: 1px solid #ccc;
	background-color: #eeeeee;
	width: 250px;
	list-style: none;
}

.accordeon > li {
	margin: 0;
	background-color: #fff6c4;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.accordeon > li:last-child {
	border-bottom: 0;
}

.accordeon > li > ul {
	list-style: none;
	background-color: #8adfff;
	padding: 10px;
	margin: 10px -10px -10px -10px;
	border-top: 1px solid #ccc;
	transition: display 0.5s ease-out 0.5s;
	-webkit-transition: display 1s ease-out 0.5s;
	-moz-transition: display 1s ease-out 0.5s;
	-o-transition: display 1s ease-out 0.5s;
}

.left-block {
	width: 300px;
	float: left;
	border: 1px solid #dddddd;
	padding: 10px;
}

.right-block {
	width: calc(100% - 300px);
	border: 1px solid #5c46dd;
	float: right;
	height: 100%;
	overflow: hidden;
	position: relative;

}